.cardSectionArea {
  height: 100%;
  .cardSectionTitle {
    padding: 5%;
    font-weight: bold;
    font-size: 200%;
  }
  .cards{
    height: 85%;
    overflow-Y: auto;
  }
  @media (max-width: 1400px) {
    .cards{
      height: 60%;
    }
  }
}
